[Unit]
Description=Directus Server for scj2000
After=docker.service
After=getty@tty3.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=-/usr/bin/docker network create scj2000
ExecStartPre=/usr/bin/docker pull directus/directus:10
ExecStart=/usr/bin/docker run --name %n \
    -p 8055:8055 --restart unless-stopped \
    --env CONFIG_PATH=/directus/config.yaml \
    --add-host=host.docker.internal:host-gateway \
    -v /etc/directus/config.yaml:/directus/config.yaml \
    -v /etc/directus/schema:/directus/schema \
    -v /var/lib/directus/uploads:/directus/uploads \
    -v /var/lib/directus/extensions:/directus/extensions \
    --network scj2000 -it directus/directus:10
ExecStopPost=/usr/bin/docker container kill %n
ExecStopPost=/usr/bin/docker volume prune -f -a
ExecStopPost=/usr/bin/docker network prune -f 
StandardOutput=journal
StandardInput=tty
TTYPath=/dev/tty3
TTYReset=yes
TTYVHangup=yes

[Install]
WantedBy=multi-user.target

